.admin-erp {
  padding: 30px;
}

.admin-form {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.admin-form input,
.admin-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.save-btn {
  background: #2563eb;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.save-btn:hover {
  background: #1e40af;
}
